#Ignore the outputs of the gridding script as they are large
data/gridded/*

Compile_FAO_cropdata.ipynb
data/fao_*
data/cropmask
data/shapefile
archived
token.json
.DS_Store
w*.ipynb
remova*.ipynb
removable/
data/adm.prcp.chirps-v2.crop.*hdf
CP_*_CropData.ipynb
data/crop/adm_fao_agromaps.csv
data/crop/adm_fao_stat.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
removable_all_data.hdf
figures/ET_admin_shapes.png
figures/ET_bar_natgrainprod_Belg.png
figures/ET_bar_natgrainprod_Meher.png
figures/ET_line_pay_Barley_Belg.png
figures/ET_line_pay_Barley_Meher.png
figures/ET_line_pay_Maize_Belg.png
figures/ET_line_pay_Maize_Meher.png
figures/ET_line_pay_Millet_Belg.png
figures/ET_line_pay_Millet_Meher.png
figures/ET_line_pay_Oats_Belg.png
figures/ET_line_pay_Oats_Meher.png
figures/ET_line_pay_Rice_Belg.png
figures/ET_line_pay_Rice_Meher.png
figures/ET_line_pay_Sorghum_Belg.png
figures/ET_line_pay_Sorghum_Meher.png
figures/ET_line_pay_Teff_Belg.png
figures/ET_line_pay_Teff_Meher.png
figures/ET_line_pay_Wheat_Belg.png
figures/ET_line_pay_Wheat_Meher.png
